---
import NavLinks from "./navlinks.astro"
import "../styles/header.css"
---
<section id="header">
    <h3 id="header-image" style="width: 33%; font-family: Arial, Helvetica, sans-serif; color: whitesmoke;">HackSheffield10</h3>
    <NavLinks />
    <div id="placeholder" style="width: 33%;"></div>
</section>