---
import "../styles/landing.css"
---
<div id="landing-container">
    <h1 id="main-logo">HackSheffield10</h1>
    <h3>The Diamond, The University of Sheffield</h3>
    <h3>15th - 16th November</h3>
</div>